#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.cardHolder {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding: 1em;
    height: 100%;
}

.discardHolder {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding: 1em;
    height: 100%;
}

.playArea-tabs {
    /*height: 100%*/
    max-height: 10%;
}

.tab-content {
    height: 100%;
    max-height: 35vh;
}

.gameLogs {
    background-color: antiquewhite;
    /*align left*/
    text-align: left;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    max-height: 35vh;
}

.card {
    flex-direction: row;
    padding: 1em;
    margin: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 0 1em #ccc;
    flex-basis: 15vw;
    flex-shrink: 0;
    height: 100%;
    max-height: 30vh;
    overflow-y: auto;
}

table {
    width: 100% !important;
}

tr {
    width: 100% !important;
}

td {
    border: 1px solid black !important ;
}

td:first-child {
    text-align: left;
}

.card-footer {
    /* should float above the rest of the card and be at the very bottom */
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    margin: 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}


.rarity-0 {
    /* basic rarity should have a light gray background */
    background-color: #f0f0f0;
}

.rarity-1 {
    /* common rarity should have a light blue background */
    border-radius: 5px;
    background-color: #b3e5fc;
}

.rarity-2 {
    /* uncommon rarity should have a light green background */
    border-radius: 5px;
    background-color: #c8e6c9;
}

.rarity-3 {
    /* rare rarity should have a light purple background */
    border-radius: 5px;
    background-color: #d1c4e9;
}

.rarity-4 {
    /* epic rarity should have a light orange background */
    border-radius: 5px;
    background-color: #ffe0b2;
}

.rarity-5 {
    /* legendary rarity should have a golden background and a animated glow */
    border-radius: 5px;
    background-color: #ffd54f;
    animation: glow 1s ease-in-out infinite alternate;
}

.rarity-6 {
    /* haxor rarity should have a red background and a animated glow */
    border-radius: 5px;
    background-color: #ff8a80;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 0px #ffd54f;
    }
    to {
        box-shadow: 0 0 20px #ffd54f;
    }
}

@keyframes glow-long {
    from {
        box-shadow: 0 0 0px #ff8a80;
    }
    to {
        box-shadow: 0 0 50px #ff8a80;
    }
}